@{
  Layout = "_Layout";
}

<h1>Vendor And OrderTracker: Welcome!</h1><br><br>
<a href='/vendors/new'>Add a new Vendor</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='/vendors'>See list of Vendors</a>