<h1>To Do List Order Details: </h1>

<h2>@Model.Description</h2>
<h2>@Model.Id</h2>
<h2>@Model.Title</h2>
<h2>@Model.Price</h2>

<a href='/orders/new'>Add another Order</a>
<a href='/orders'>View all Orders</a>